NEXT_PUBLIC_API_BASE_URL="https://routinely-api-homologation.onrender.com"
# Gere uma chave secreta para o campo abaixo.
# Podes usar um hash generator ou pedir a alguma LLM
NEXT_PUBLIC_SECRET_CRYPTO="secret"
NEXT_PUBLIC_FRONT_URL="http://localhost:3000"