NEXT_PUBLIC_API_BASE_URL="https://routinely-api-homologation.onrender.com"
NEXT_PUBLIC_FRONT_URL="http://localhost:3000"
# Gerar uma chave secreta para os campos abaixos
# Para uma boa chave, podes rodar
# num terminal unix o comando: openssl rand -base64 32
# (use chaves diferentes para  cada)
NEXT_PUBLIC_SECRET_CRYPTO=""
NEXTAUTH_SECRET=""