{
  "*.ts": [
    "eslint 'src/**' --cache  --fix"
  ],
  "*.tsx": [
    "eslint 'src/**'  --cache  --fix"
  ],
  "*.js": [
    "eslint 'src/**'  --cache --fix"
  ],
  "*.jsx": [
    "eslint 'src/**'  --cache  --fix"
  ]
}